<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

#--- DH-PHP handlers ---
#AddHandler fastcgi-script fcg fcgi fpl
#AddHandler php-fastcgi .php
#Action php-fastcgi /app/webroot/cgi-bin/dispatch.fcgi
