!*.svg
*sass-cache
*~
.*json
.DS_Store
.DS_Store?
.Xauthority
.android/
.angular-config.json
.babel.json
.bash_history
.bash_profile.backup
.bash_sessions/
.boto
.cache/
.config/
.cups/
.dart/
.dartServer/
.devtools
.electron-gyp/
.electron/
.emulator_console_auth_token
.esets/
.flutter
.flutter_tool_state
.gem/
.git-gmac-update-config
.gitcookies
.gradle/
.gsutil/
.history
.history/
.ionic/
.lesshst
.local
.local/
.mono/
.netrwhist
.node-gyp/
.node_repl_history
.npm/
.npmrc
.nvm/
.openshot_qt/
.pki/
.pub-cache/
.pylint.d/
.secureConnect/
.ssh/
.subversion/
.tor/
.vidalia/
.vim/swaps/
.vim/undo/
.viminfo
.vnc/
.vscode-server/
.vscode/
.wget*
.xsession-errors*
.yarn/
.yarnrc
AndroidStudioProjects/
Applications/
CFUserTextEncoding
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Session.vim
Sessionx.vim
Thumbs.db
Videos/
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
bin/
default.*
google-cloud-sdk/
logs/
node_modules/
package-lock.json
tags
tsconfig_editor.json
yarn.lock
