[user]
	name = Skye Giordano
	email = github@syntax101.com
[credential]
	helper = cache
[core]
[color]
	ui = true
	ui = true
[diff]
        tool = kdiff3
        guitool = kdiff3

[difftool]
        prompt = false

[difftool "kdiff3"]
        path = /home/sgiordano/difftool-kdiff3.sh
