[user]
	name = Skye
	email = github@syntax101.com

[credential]
	helper = cache

[color]
	ui = true

diff]
  tool = meld

[difftool]
  prompt = false

[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"

[merge]
  tool = meld

[mergetool]
  prompt = false

[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"

[alias]
	add-commit = !git add -u && git commit -m
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	add-commit = !git add -u && git commit -m
	ac = add-commit
  amend = commit --amend
  ammend = commit --amend
	assume = update-index --assume-unchanged
  assumed = "!git ls-files -v | grep ^h | cut -c 3-"
  assumeall = "!git st -s | awk {'print $2'} | xargs git assume"
  br = branch
  ca = commit --amend
  ci = commit
  cl = clone
  cm = commit -m
  co = checkout
  cma = commit -am
  lasttag = describe --tags --abbrev=0
  la = config --get-regexp alias
	last = log -1 HEAD
	ls = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate
	ll = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --numstat
  lt = describe --tags --abbrev=0
  mine  = "!f() { files=\"$@\"; [ -z $files ] && files='.'; git checkout --ours -- $files; git add -u $files; }; f"
  rao = remote add origin
  rem="!git config -l | grep remote.*url | tail -n +2" #list remotes
  st = status
  stt = status -uno # show status only for tracked files
  theirs = "!f() { files=\"$@\"; [ -z $files ] && files='.'; git checkout --theirs -- $files; git add -u $files; }; f"
	unassume = update-index --no-assume-unchanged
  unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"
	unstage = reset HEAD --

[http]
	cookiefile = /Users/skyebot/.gitcookies
	sslVerify = false

[core]
	excludesfile = ~/.gitignore
