[user]
	name = Skye Giordano
	email = github@syntax101.com
[credential]
	helper = cache
[core]
[color]
	ui = true
	ui = true
[diff]
        tool = kdiff3
        guitool = kdiff3

[difftool]
        prompt = false

[difftool "kdiff3"]
        path = /home/sgiordano/difftool-kdiff3.sh
[alias]
	unstage = reset HEAD --
	ls = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate
	ll = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --numstat
        # merges
        mine   = "!f() { git checkout --ours $@ && git add $@; }; f"
        ours   = "!f() { git checkout --ours $@ && git add $@; }; f"
        
        theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
        unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"
        assumeall = "!git st -s | awk {'print $2'} | xargs git assume"
        lasttag = describe --tags --abbrev=0
        lt = describe --tags --abbrev=0
        la = "!git config -l | grep alias | cut -c 7-"
        st = status
        cl = clone
        ci = commit
        co = checkout
        br = branch 
        cm = commit -m
        cma = commit -am
        ca = commit --amend
        amend = commit --amend
	last = log -1 HEAD
        
        #list remotes
        rem="!git config -l | grep remote.*url | tail -n +2"
